<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>answers</key>
	<array>
		<dict>
			<key>answerid</key>
			<string>123767709</string>
			<key>authorhash</key>
			<string>e1cad8186039c3442c709973fafc8fc8</string>
			<key>authorname</key>
			<string>黄濯</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/d50f448c53556512272d8d1168b782ab_l.jpg</string>
			<key>questionid</key>
			<string>51011199</string>
			<key>summary</key>
			<string>1. 小白兔有一家糖果铺，小老虎有一个冰淇淋机。兔妈妈告诉小白兔，如果你喜欢一个人呐，就给一颗糖他。小白兔喜欢上了小老虎，那么那么喜欢，忍不住就把整个店子送给了他。回家后兔妈妈问她，那小老虎喜欢你吗。小白兔直点头，妈妈说，那他为什么不给你吃…</string>
			<key>time</key>
			<string>2016-09-26 17:16:05</string>
			<key>title</key>
			<string>有没有哪些让人深思的小故事？</string>
			<key>vote</key>
			<string>360</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123715394</string>
			<key>authorhash</key>
			<string>5de26e5c6416e266ecca60deccb61566</string>
			<key>authorname</key>
			<string>Shawn夜风</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/1aa61198cad06df3b35b2533f4339b48_l.jpg</string>
			<key>questionid</key>
			<string>50968222</string>
			<key>summary</key>
			<string>简单来说：气势压倒一切。 “论学会用枪在美国的重要性”，我来简单分析一下这场紧张的枪战！ 凌晨3点43分，三个劫匪闯进室内，录像里可以看出，三个黑人持枪闯进来，行进速度很快，显然是有备而来。他们有恃无恐，认为手里有枪，屋内的人就是待宰的羔羊。…</string>
			<key>time</key>
			<string>2016-09-26 11:40:34</string>
			<key>title</key>
			<string>如何看待亚特兰大“美国一华人女子枪战3名入室劫匪 击毙1人”新闻？</string>
			<key>vote</key>
			<string>327</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123689616</string>
			<key>authorhash</key>
			<string>563f2509e57453e366761fa496e7bdec</string>
			<key>authorname</key>
			<string>陈珂</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/c0d007acc99fb9ae222ad82697cc99f7_l.jpg</string>
			<key>questionid</key>
			<string>48885520</string>
			<key>summary</key>
			<string>Eddie是科比、刘翔的物理治疗师，也为耐克工作，我接下来讲的部分知识是在他的课上所学！！ 一、检验跑鞋优劣（绿色鞋子为正例、红色为反例） 1.扭不动：前掌处有支持，只能扭转很小的角度为佳。 2.压不动：前掌处有支持，只能压很小的角度为佳。 3.捏不动…</string>
			<key>time</key>
			<string>2016-09-26 09:01:13</string>
			<key>title</key>
			<string>如何选跑步鞋，有什么专业级别的跑步鞋推荐？</string>
			<key>vote</key>
			<string>504</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123708423</string>
			<key>authorhash</key>
			<string>ba7c566aefd4107be899fbc6ad225f20</string>
			<key>authorname</key>
			<string>Misa</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/82825ae58df3264bbb3bc7ce50dac2a7_l.jpg</string>
			<key>questionid</key>
			<string>38718862</string>
			<key>summary</key>
			<string>今天去面试了。面试官递给了我一个笔记本电脑。 “来，试着把这个卖给我” 于是我就把本本夹在腋下，走出大厦，骑着我的电动车回家去了。 最后，他还是给我来电话了。 “马上把电脑送回来！” “给我2000块，它就是你的了”。</string>
			<key>time</key>
			<string>2016-09-26 11:01:39</string>
			<key>title</key>
			<string>有哪些公司给你留下「还好没去这家公司」的印象？</string>
			<key>vote</key>
			<string>1762</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123728381</string>
			<key>authorhash</key>
			<string>a95f953e1fe8aadd7d1486880da41a55</string>
			<key>authorname</key>
			<string>李孤独</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/c7a358a483639c5b6c52797aae7d8a00_l.jpg</string>
			<key>questionid</key>
			<string>51011199</string>
			<key>summary</key>
			<string>家人围着6岁的小男孩问他的理想， 小男孩说，他想当医生。 外婆说医生好，社会地位高。 奶奶说待遇也不错。 爷爷说除了工资还有其他的收入呢！ 外公说更重要的是以后找对象方便。 小男孩的爸爸听后， 满意地问小男孩为什么想当医生。 小男孩说：“不是说医…</string>
			<key>time</key>
			<string>2016-09-26 13:14:37</string>
			<key>title</key>
			<string>有没有哪些让人深思的小故事？</string>
			<key>vote</key>
			<string>976</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123699409</string>
			<key>authorhash</key>
			<string>bb2a8d920c79925c9bb16a3a35b8e45e</string>
			<key>authorname</key>
			<string>来自星星的萌医生</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/9002b3cbd88c75c42a88f8e66f5f520c_l.jpg</string>
			<key>questionid</key>
			<string>50981623</string>
			<key>summary</key>
			<string>曾经有一位刚刚安装了心脏起搏器老太太很担心的对我说，"医生，听说起搏器每隔几年就要换一次，会不会很麻烦啊？" 我当时笑着对她说到，"我希望在我今后近四十年的工作时间里，你的每一次更换手术都是由我亲自完成的"，我又接着说，"我甚至希望能在我退休之…</string>
			<key>time</key>
			<string>2016-09-26 10:10:13</string>
			<key>title</key>
			<string>有哪些治愈系句子？</string>
			<key>vote</key>
			<string>764</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123687747</string>
			<key>authorhash</key>
			<string>ba7c566aefd4107be899fbc6ad225f20</string>
			<key>authorname</key>
			<string>Misa</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/82825ae58df3264bbb3bc7ce50dac2a7_l.jpg</string>
			<key>questionid</key>
			<string>34406872</string>
			<key>summary</key>
			<string>世界上最荒谬的五件事 ： 第一：砍了树做成纸，在纸上面写着爱护森林。 第二 : 拿着父母的血汗钱，在KTV里面唱父亲你辛苦了 。 第三：女人每天和很多男人在暧昧，却说着世界上没有好男人。 第四，用辛苦挣来的钱，换成烟，再烧了！换成酒，喝醉了吐了。还说…</string>
			<key>time</key>
			<string>2016-09-26 08:44:00</string>
			<key>title</key>
			<string>有哪些我们觉得荒谬的事，却有着合理的经济学解释？</string>
			<key>vote</key>
			<string>1191</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123683141</string>
			<key>authorhash</key>
			<string>ba7c566aefd4107be899fbc6ad225f20</string>
			<key>authorname</key>
			<string>Misa</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/82825ae58df3264bbb3bc7ce50dac2a7_l.jpg</string>
			<key>questionid</key>
			<string>20431221</string>
			<key>summary</key>
			<string>在酒店吃饭问老板WIFI密码，老板说LYP82NLF, 我说这好难记，老板笑答“来一瓶82年拉菲，好记!” 我一边念“来一瓶82年拉菲”，一边输密码刚输完，服务员问能打开了吗？我说能打开了。只听“嘭” 的一声，服务员笑着说：“您的82年的拉菲，三万二千元，已替…</string>
			<key>time</key>
			<string>2016-09-26 07:49:15</string>
			<key>title</key>
			<string>你见过的最棒的营销案例？</string>
			<key>vote</key>
			<string>1100</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123769221</string>
			<key>authorhash</key>
			<string>18b9c1147a2e3e1991d94efbd305a1ba</string>
			<key>authorname</key>
			<string>学写作的丧失</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/1926699ef_l.jpg</string>
			<key>questionid</key>
			<string>50947794</string>
			<key>summary</key>
			<string>小米商城，中国电商第三，仅次于阿里和京东，世界第五电商。 米家，做什么产品，什么领域就降价，跟风者众。 当小米手机在某些人眼里成为羞辱和某种低层次社会人的象征时，雷军这样说： 当现在一些创业者稍微有点成就就以成功者自居时，雷军是这样的态度： …</string>
			<key>time</key>
			<string>2016-09-26 17:25:05</string>
			<key>title</key>
			<string>为什么说我欠小米一个尊重？</string>
			<key>vote</key>
			<string>1210</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123662836</string>
			<key>authorhash</key>
			<string>08eb4817f3819d0c868b24d3dbea07ea</string>
			<key>authorname</key>
			<string>卫雪妖</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/739d39b11e5f0b02e7c69bcf6e6ef5b4_l.jpg</string>
			<key>questionid</key>
			<string>23879135</string>
			<key>summary</key>
			<string>大家如果只收藏不点赞，我就木有动力再更新了，55555… 原文首发在公众号：weixiaoyao_gogogo 这里删去前面那些矫情的话，直接贴干货吧~~ 01卤牛肉柠檬虾秋葵便当 卤牛肉要提前准备。牛腱子肉先用冷水浸泡半个小时出血水，然后冷水下锅大火 烧开，水开后两…</string>
			<key>time</key>
			<string>2016-09-26 00:06:44</string>
			<key>title</key>
			<string>如何掌握做超级好吃便当的技能？</string>
			<key>vote</key>
			<string>1131</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123724188</string>
			<key>authorhash</key>
			<string>ba7c566aefd4107be899fbc6ad225f20</string>
			<key>authorname</key>
			<string>Misa</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/82825ae58df3264bbb3bc7ce50dac2a7_l.jpg</string>
			<key>questionid</key>
			<string>20412723</string>
			<key>summary</key>
			<string>《夏洛特烦恼》我以为主角叫夏洛特 是部外国片 原来男一号叫夏洛，接下来会不会有 《郭敬明天见》《周立波很大》《吴奇隆胸记》《王宝强奸案》《郭富城会玩》《井柏然并卵》《黄秋生无可恋》《贾乃亮了》《奥巴马上来》《周润发财了》《权志龙虾壳》《金正…</string>
			<key>time</key>
			<string>2016-09-26 12:44:33</string>
			<key>title</key>
			<string>有哪些电影被名字毁了？</string>
			<key>vote</key>
			<string>721</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123701873</string>
			<key>authorhash</key>
			<string>f5d6726e49d4451d707e84b554adf8c6</string>
			<key>authorname</key>
			<string>三种不同的红色</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/8895d5d7a_l.jpg</string>
			<key>questionid</key>
			<string>51011199</string>
			<key>summary</key>
			<string>一只兔子在山洞口写论文。 一只狐狸走过来，问：“兔子，你在干什么啊？” 兔子回答：“我在写论文。” 狐狸：“什么论文？” 兔子：“为什么兔子比狐狸更强大。” 狐狸听了捧着肚子大笑：“你，，你居然说你比我更强大。” 兔子不动神色：“你不信？那你跟…</string>
			<key>time</key>
			<string>2016-09-26 10:25:17</string>
			<key>title</key>
			<string>有没有哪些让人深思的小故事？</string>
			<key>vote</key>
			<string>3896</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123672359</string>
			<key>authorhash</key>
			<string>a0c66ed9c769e3a32cf3f57046afbed0</string>
			<key>authorname</key>
			<string>大萌</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/b76ff88929ccfaf1226f6bfda682330e_l.jpg</string>
			<key>questionid</key>
			<string>38813897</string>
			<key>summary</key>
			<string>跟前任分开前，我还是一个极度利己主义者。当时年纪小，觉得女生爱情的意义就是被爱。大家聊的也是谁的男朋友更好，付出多一点都会被小姐妹耻笑觉得很掉价。 他说喜欢贤妻良母，希望我学着下下厨，我就耍赖说我不要做饭，油烟会让我变老，皮肤不好你就不会…</string>
			<key>time</key>
			<string>2016-09-26 01:36:31</string>
			<key>title</key>
			<string>前任给你留下了哪些你认为会伴随一生的习惯、又悟出了哪些道理？</string>
			<key>vote</key>
			<string>515</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123725544</string>
			<key>authorhash</key>
			<string>f832b2c589d501620f3920a2f6d75216</string>
			<key>authorname</key>
			<string>燕郎</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/83da86ab6ff5676c92634fc031ed0670_l.jpg</string>
			<key>questionid</key>
			<string>50933924</string>
			<key>summary</key>
			<string>有一个嫌疑人，我在看守所提讯他，部分内容如下： 问：民警在对你进行讯问过程中有无刑讯逼供？ 答：有。 问：谁对你进行刑讯逼供的？ 答：就是你！ 问：我是怎样对你刑讯逼供的？ 答：你把我的双手锁在讯问室的椅子上不让我动！还用凶狠的语气和我说话！ …</string>
			<key>time</key>
			<string>2016-09-26 12:54:15</string>
			<key>title</key>
			<string>办案过程中被嫌疑人（当事人）威胁是种什么样的体验？</string>
			<key>vote</key>
			<string>323</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123757331</string>
			<key>authorhash</key>
			<string>83abea88ce024128331132aa77007c2a</string>
			<key>authorname</key>
			<string>学霸猫</string>
			<key>avatar</key>
			<string>https://pic2.zhimg.com/9f2fe031291f61cc48e01bbe03652a45_l.jpg</string>
			<key>questionid</key>
			<string>30196004</string>
			<key>summary</key>
			<string>你有没有想过，“幼稚”可能是深思熟虑后，所选择的最佳处世策略呢？ 所谓待人接物的成熟，不过是很多事情学会走个形式，不熟的人之间卖个面子，饭局酒桌上相互吹捧几番，这些事情，不需要几个智商，也能做得到。 所谓现实主义的成熟，不过是学会凡事考虑经…</string>
			<key>time</key>
			<string>2016-09-26 16:15:27</string>
			<key>title</key>
			<string>为什么喜欢心理学、哲学的人往往在境界上显得很深邃，在生活当中显得很幼稚？</string>
			<key>vote</key>
			<string>936</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123675679</string>
			<key>authorhash</key>
			<string>c1da9a3151dfa3be9ccc764ce3b1bade</string>
			<key>authorname</key>
			<string>Creamy络</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/13773e7644647e1f694ea6644bf40c3e_l.png</string>
			<key>questionid</key>
			<string>21016607</string>
			<key>summary</key>
			<string>“中国大陆与西方的差距，比起150多年前鸦片战争时，是扩大了，还是缩小了？" 中国人开始犯自卑了。显然已经不是大清朝时期那种把西方工业产品都当成神明器物的渺小的自卑，而是一种强大到了高贵的自卑。 现在的国人自卑的缘由，是什么东西，别人能生产出来…</string>
			<key>time</key>
			<string>2016-09-26 02:41:31</string>
			<key>title</key>
			<string>《天朝的崩溃》这本书怎么样？</string>
			<key>vote</key>
			<string>1351</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123677402</string>
			<key>authorhash</key>
			<string>b1a3919d6cf4f505dd6f41f09c028437</string>
			<key>authorname</key>
			<string>Lightwing</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/62bff3233df518c4ff054d1c8b4bdb06_l.jpg</string>
			<key>questionid</key>
			<string>31151677</string>
			<key>summary</key>
			<string>补充一些小区别： 1）美国人刚接触陌生人，第一句话就是报名字，自我介绍。过不了多久就直接冲上来介绍自己具体是谁，包括职业、职位、籍贯、等等。目标就是快速获得对方的认可及定位（甚至试图获得对方的敬佩）。他们也一样期待对方赶紧表明身份等等。美国…</string>
			<key>time</key>
			<string>2016-09-26 03:37:31</string>
			<key>title</key>
			<string>美国人和英国人在思维方式上有哪些不同？</string>
			<key>vote</key>
			<string>2374</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123723096</string>
			<key>authorhash</key>
			<string>f27062c7978e6e86b723c97d88cb6ad0</string>
			<key>authorname</key>
			<string>皮耶霍</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/d3a6e1490_l.jpg</string>
			<key>questionid</key>
			<string>50210121</string>
			<key>summary</key>
			<string>学生半夜突发急症，叫的救护车因为学生宿舍区有隔离桩开不进来。 我背着学生从五楼下到一楼，然后在宿舍区狂奔200多米把学生送上救护车，用时不到五分钟。 到医院直接进了急救室，后来抢救过来后医生说要是晚送来五分钟，情况就不好说了…… 从此每年校园越…</string>
			<key>time</key>
			<string>2016-09-26 12:35:09</string>
			<key>title</key>
			<string>有哪些瞬间让你突然觉得坚持运动真有用？</string>
			<key>vote</key>
			<string>813</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123677486</string>
			<key>authorhash</key>
			<string>023ef23898aefc4128f7992c735e24a2</string>
			<key>authorname</key>
			<string>大壮</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/0b6c2a06a31f746c08d1c44605b1037f_l.jpg</string>
			<key>questionid</key>
			<string>31969969</string>
			<key>summary</key>
			<string>4年前的今天，我租了一辆车，独自一人开始了66号公路之旅。用时34天时间，自驾16000公里，几乎走完了66号公路。 先说结论，66号公路是最能综合体现美国历史背景、自然景观、人文风貌的一条路，因此也称为The Mother Road of USA，是最快了解美国的方式之一。 …</string>
			<key>time</key>
			<string>2016-09-26 03:41:30</string>
			<key>title</key>
			<string>沿 66 号公路驾车旅行是怎样一种体验？</string>
			<key>vote</key>
			<string>341</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123759757</string>
			<key>authorhash</key>
			<string>a801113941b560a65ce4906fb1a1a05e</string>
			<key>authorname</key>
			<string>柠檬黄</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/e043303ae8b2e6052c2215d30fb0d55c_l.jpg</string>
			<key>questionid</key>
			<string>50934206</string>
			<key>summary</key>
			<string>我如果成了丧尸，生活压力一定小得多了。毕竟我不用吃，也不用喝，也不用买房。 万一我还有幸保留了一点点意识，那简直是太幸福了。 我想对所有人都很凶，对着幸存者很凶，对我的同类也很凶。我要大吼大叫，让他们都离我远远的，成为一个孤独的丧尸，好不必…</string>
			<key>time</key>
			<string>2016-09-26 16:29:43</string>
			<key>title</key>
			<string>你如果变成丧尸会干啥？</string>
			<key>vote</key>
			<string>328</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123715358</string>
			<key>authorhash</key>
			<string>3d1fb3281577fd9b795c428b29528bc3</string>
			<key>authorname</key>
			<string>钱品聚</string>
			<key>avatar</key>
			<string>https://pic2.zhimg.com/fa50fa730a3fd74609c7f0e0b440ef91_l.jpg</string>
			<key>questionid</key>
			<string>50051635</string>
			<key>summary</key>
			<string>2016年7月30日，距离巴西奥运会开幕还有7天。 之前，我刷爆了自己所有的信用卡，欠了银行一屁股债却无力偿还，正想四处筹钱堵上信用卡的窟窿。 但从那天开始，我却经历了人生中最匪夷所思的一段时光。 并且在7天之后，我站在了巴西奥运会的主场馆门外，手里…</string>
			<key>time</key>
			<string>2016-09-26 11:40:18</string>
			<key>title</key>
			<string>什么时候你有「我靠！这事可以拍成电影啊」的想法？</string>
			<key>vote</key>
			<string>323</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123674804</string>
			<key>authorhash</key>
			<string>e477be0390c23a8ec13d14be386adec7</string>
			<key>authorname</key>
			<string>陈小厚</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/90f5a3adebfa0e343e1b17b5276b0ef6_l.jpg</string>
			<key>questionid</key>
			<string>50977040</string>
			<key>summary</key>
			<string>不太关注相声圈，不站队，不评价内容，就说些自己无意间发现的好玩儿的边角料。 早晨睡醒刷微博，看到郭的微博“转发18万，点赞44万”。由于郭关闭了评论，习惯性想看群众舆论风向的我，点开了转发栏。很多人在转发时会“顺便说点什么”。 于是，不吹不黑，…</string>
			<key>time</key>
			<string>2016-09-26 02:19:40</string>
			<key>title</key>
			<string>如何评价郭德纲反击曹云金的《天涯犹在，不诉薄凉》？</string>
			<key>vote</key>
			<string>641</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123741194</string>
			<key>authorhash</key>
			<string>8b631098c175cd87ae961a868b2180b6</string>
			<key>authorname</key>
			<string>常凯申</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/1abe8d0c6_l.jpg</string>
			<key>questionid</key>
			<string>20025485</string>
			<key>summary</key>
			<string>谢邀。 李登辉先生1946年9月光荣加入中国共产党。1947年，由于斗争形势变化，经时任中共台湾省工委书记蔡孝乾批准“退党”。 李登辉先生自担任台湾地区领导人之后，主要做了三件事： 第一件事。李登辉先生就任之日，正是对岸不定之时。上世纪八十年代末到九…</string>
			<key>time</key>
			<string>2016-09-26 14:39:12</string>
			<key>title</key>
			<string>如何客观评价李登辉？</string>
			<key>vote</key>
			<string>1907</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123719251</string>
			<key>authorhash</key>
			<string>87a3b6e08f65f7edaa1ad76f5611bc1c</string>
			<key>authorname</key>
			<string>呵呵</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/fff4b2d9ffee1746ce7d1a726eb33dcb_l.jpg</string>
			<key>questionid</key>
			<string>50932041</string>
			<key>summary</key>
			<string>穆罕默德又上新闻了，前几天美国的恐怖袭击主导者是穆罕默德，今天俄罗斯的抗暴英雄也是穆罕默德，明天来中国访问的领导人也是穆罕默德，后天你家小区门口打馕的还是穆罕默德。 他们都叫穆罕默德，他们还有一个共同的名字——穆斯林。 回到这个题目，如何看…</string>
			<key>time</key>
			<string>2016-09-26 12:05:28</string>
			<key>title</key>
			<string>如何看待普京授予宁死不屈的警察穆罕默德·努尔巴甘多夫俄罗斯英雄称号？</string>
			<key>vote</key>
			<string>1109</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123677555</string>
			<key>authorhash</key>
			<string>47e0a13e81e4fc37b82ecef62b8133f5</string>
			<key>authorname</key>
			<string>jyo gan</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/82ebaa18d_l.jpg</string>
			<key>questionid</key>
			<string>36129534</string>
			<key>summary</key>
			<string>有时候不得不觉得人真的是非常健忘的动物。很多明明是在他出生以后才发生的事情，他却不知道和不记得了，或者是装作不知道和不记得了。 我们国家摆脱赤贫到现在还不到二十年。 90年代中期的乡镇中学有一半的学生因为贫穷实际上无法完成初中教育，很多学生辍…</string>
			<key>time</key>
			<string>2016-09-26 03:44:23</string>
			<key>title</key>
			<string>印度经济可能在本世纪追上中国吗？</string>
			<key>vote</key>
			<string>1454</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123747412</string>
			<key>authorhash</key>
			<string>fd51f37ac298387052e18e73158e3187</string>
			<key>authorname</key>
			<string>无色方糖</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/1eba86958dff6ee3d6ae09539e40c30b_l.jpg</string>
			<key>questionid</key>
			<string>50383254</string>
			<key>summary</key>
			<string>1.林零自杀失败了二十几次之后，终于确信自己死不掉了。一个月前，他趁着午夜行人稀少的时分，登上了大厦的楼顶。在盛夏八月林零穿的相当清凉，拖鞋短裤白T恤，竟然心里还有点轻松。在楼顶的位置，万家霓虹变成了光点，整座城的灯火都尽收眼底。他稍微舒展…</string>
			<key>time</key>
			<string>2016-09-26 15:17:19</string>
			<key>title</key>
			<string>你写过哪些奇诡的都市故事？</string>
			<key>vote</key>
			<string>1162</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123677360</string>
			<key>authorhash</key>
			<string>ffbe1e25d78aa1aa39b6baf6a6a5c781</string>
			<key>authorname</key>
			<string>汪惟</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/484cac951_l.jpg</string>
			<key>questionid</key>
			<string>36023744</string>
			<key>summary</key>
			<string>在此不推荐游客非常多的店，也就是不推荐生意太好，排长队的店，比如哑巴生煎临顿路店、潘玉麟糖粥、同德兴嘉馀坊店、新年点心店、荣阳楼等。 这些店口味好位置好，推荐的人很多，不多言。 更不会推荐随柳居、桃花源记，桃叶铺、品芳这种专门为游客开的店。…</string>
			<key>time</key>
			<string>2016-09-26 03:35:47</string>
			<key>title</key>
			<string>请问苏州有什么好吃的有特色的小店？</string>
			<key>vote</key>
			<string>761</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123678403</string>
			<key>authorhash</key>
			<string>ce91b5b28c785ce69090eb1790fea8c7</string>
			<key>authorname</key>
			<string>欲三更</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/50be1d13289d816f44341ebf530303b8_l.jpg</string>
			<key>questionid</key>
			<string>50977040</string>
			<key>summary</key>
			<string>通过这俩人的两篇文章，已经能判断清楚事实了。 事实不是谁收了谁的钱，谁比谁人性不好，这个不重要。事实是你觉得如果你跟能写出那样一篇文章的曹云金相处，能好得了吗？以及如果你跟能写出这样一篇文章的郭德纲相处，能好得了吗？ 这俩人碰一块儿了，你觉…</string>
			<key>time</key>
			<string>2016-09-26 04:30:37</string>
			<key>title</key>
			<string>如何评价郭德纲反击曹云金的《天涯犹在，不诉薄凉》？</string>
			<key>vote</key>
			<string>478</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123765309</string>
			<key>authorhash</key>
			<string>11e1a6f1a3d1b1971dc70d6a2fa310a9</string>
			<key>authorname</key>
			<string>汗青</string>
			<key>avatar</key>
			<string>https://pic2.zhimg.com/1797ef669dfc0aa9391a2438f5a9ef49_l.jpg</string>
			<key>questionid</key>
			<string>32313247</string>
			<key>summary</key>
			<string>这还有什么看法，就一个字：大层面是本朝法制不齐全；小层面是涉案警察有法不依、渎职犯罪。 可以预见将有一大波国情论爱好者以及警务人员袭来大吐所谓苦水。 我说，别和我说什么国情，以及基层如何如何难办，那都不是理由。 要这么说起来，难办你就不管了…</string>
			<key>time</key>
			<string>2016-09-26 17:01:51</string>
			<key>title</key>
			<string>如何看待河北母女派出所内被杀案件？</string>
			<key>vote</key>
			<string>659</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123704626</string>
			<key>authorhash</key>
			<string>04bb88705a58c85378b7577f5c0d754f</string>
			<key>authorname</key>
			<string>蒋校长</string>
			<key>avatar</key>
			<string>https://pic3.zhimg.com/6b469b9bf4416f37f9d3942c95b35026_l.jpg</string>
			<key>questionid</key>
			<string>50934663</string>
			<key>summary</key>
			<string>一句话： 蔡省长半期考试不及格！（http://news.nanyangpost.com/2016/09/24_98.html） 经过四个多月的观察，中国大陆已对蔡英文在两岸关系上的实际做法基本失去信心，开始逐渐采取收紧方式对蔡省长进行必要的敲打。 别说大陆不够意思： 5月23号允许台湾参加世界卫生组织大会（WHO） …</string>
			<key>time</key>
			<string>2016-09-26 10:40:45</string>
			<key>title</key>
			<string>如何看待台湾这次没有收到ICAO邀请函？</string>
			<key>vote</key>
			<string>351</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123784676</string>
			<key>authorhash</key>
			<string>6fb1d89591e4fb1b6737c0c8f951c29b</string>
			<key>authorname</key>
			<string>赵皓阳</string>
			<key>avatar</key>
			<string>https://pic2.zhimg.com/088a4f70ec4809d24ebd4767e86a0195_l.jpg</string>
			<key>questionid</key>
			<string>21128507</string>
			<key>summary</key>
			<string>一、马克思的末日预言 先从这本书，托马斯·皮凯蒂的《21世纪资本论》讲起。众所周知，马克思预言了资本主义的自我毁灭。托马斯指出，在马克思时代，大量工人生活在城市贫民窟，工人们工作时间很长，工资却非常低，甚至在某些方面比封建制度下的农村悲剧更…</string>
			<key>time</key>
			<string>2016-09-26 19:20:38</string>
			<key>title</key>
			<string>为什么富人越来越富，穷人越来越穷？</string>
			<key>vote</key>
			<string>339</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123719866</string>
			<key>authorhash</key>
			<string>184d63c15edb58b42e0a02628945fa76</string>
			<key>authorname</key>
			<string>曾加</string>
			<key>avatar</key>
			<string>https://pic4.zhimg.com/0a68357aba831a0c49a2dba02f0906a3_l.jpg</string>
			<key>questionid</key>
			<string>23527973</string>
			<key>summary</key>
			<string>吐个槽。 截至今天（2016.9.26） 如何看出来男朋友有没有潜力？  这个问题在 2014 年 4 月 24 日提出，有 21977 个人关注，749 个回答； 如何看出女朋友有没有潜力？ 这个问题在 2014 年 6 月 7 日提出，有 6 个人关注，5 个回答。 2 个出现了 2 年之久的问…</string>
			<key>time</key>
			<string>2016-09-26 12:10:04</string>
			<key>title</key>
			<string>如何看出来男朋友有没有潜力？</string>
			<key>vote</key>
			<string>1122</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123742777</string>
			<key>authorhash</key>
			<string>28f2b10eb2c8c415cc3cdd84e3c03a79</string>
			<key>authorname</key>
			<string>张方</string>
			<key>avatar</key>
			<string>https://pic2.zhimg.com/e1478dbb0dcb1d13958f868012baa0dd_l.jpg</string>
			<key>questionid</key>
			<string>28057213</string>
			<key>summary</key>
			<string>刚出炉的新鲜打脸，我就喜欢这么耿直的媒体，耿直起来连自己的脸都敢打！ 贵报三天前发了一条推送。 三天后发了一条辟谣。 三天前的推送已经删了。 三天后的辟谣第一句话是⋯⋯ 这条原新闻不是你发的吗？这锅甩的我给你满分。 两条新闻连着看，有莫名的…</string>
			<key>time</key>
			<string>2016-09-26 14:49:25</string>
			<key>title</key>
			<string>历史上有哪些打脸的故事？</string>
			<key>vote</key>
			<string>371</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123698028</string>
			<key>authorhash</key>
			<string>41f58a858f5cb84ebbead1836096e48a</string>
			<key>authorname</key>
			<string>唐缺</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/171cc15ea_l.jpg</string>
			<key>questionid</key>
			<string>27916706</string>
			<key>summary</key>
			<string>龙应台</string>
			<key>time</key>
			<string>2016-09-26 10:00:38</string>
			<key>title</key>
			<string>中国大陆的美女如云，为何要找中国的台湾妹演小龙女?</string>
			<key>vote</key>
			<string>774</string>
		</dict>
		<dict>
			<key>answerid</key>
			<string>123688881</string>
			<key>authorhash</key>
			<string>0970f947b898ecc0ec035f9126dd4e08</string>
			<key>authorname</key>
			<string>vczh</string>
			<key>avatar</key>
			<string>https://pic1.zhimg.com/3a6c25ac3864540e80cdef9bc2a73900_l.jpg</string>
			<key>questionid</key>
			<string>41290275</string>
			<key>summary</key>
			<string>男友：凭什么你说他是gay蜜他自己就真的只想当gay蜜？装gay骗炮的事情不要太多</string>
			<key>time</key>
			<string>2016-09-26 08:53:43</string>
			<key>title</key>
			<string>如何让直男癌男友与gay蜜相处融洽？</string>
			<key>vote</key>
			<string>345</string>
		</dict>
	</array>
	<key>count</key>
	<integer>35</integer>
	<key>error</key>
	<string></string>
</dict>
</plist>
