<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar</key>
	<string>https://pic4.zhimg.com/v2-1d3f8c6d07df649d7baabd3deed1280f_l.jpg</string>
	<key>description</key>
	<string></string>
	<key>detail</key>
	<dict>
		<key>agree</key>
		<string>7637</string>
		<key>agreei</key>
		<string>0</string>
		<key>agreeiratio</key>
		<string>0.00%</string>
		<key>agreeiratiow</key>
		<string>0.50%</string>
		<key>agreeiw</key>
		<string>38</string>
		<key>answer</key>
		<string>9</string>
		<key>ask</key>
		<string>0</string>
		<key>count100</key>
		<string>1</string>
		<key>count1000</key>
		<string>1</string>
		<key>count10000</key>
		<string>0</string>
		<key>count200</key>
		<string>1</string>
		<key>count2000</key>
		<string>1</string>
		<key>count500</key>
		<string>1</string>
		<key>count5000</key>
		<string>1</string>
		<key>fav</key>
		<string>1265</string>
		<key>followee</key>
		<string>0</string>
		<key>follower</key>
		<string>445</string>
		<key>followeri</key>
		<string>0</string>
		<key>followeriw</key>
		<string>32</string>
		<key>followiratio</key>
		<string>0.00%</string>
		<key>followiratiow</key>
		<string>7.75%</string>
		<key>fratio</key>
		<string>0.1656</string>
		<key>logs</key>
		<string>0</string>
		<key>mostvote</key>
		<string>7520</string>
		<key>mostvote10</key>
		<string>7637</string>
		<key>mostvote10percent</key>
		<string>100.00%</string>
		<key>mostvote5</key>
		<string>7618</string>
		<key>mostvote5percent</key>
		<string>99.75%</string>
		<key>mostvotepercent</key>
		<string>98.47%</string>
		<key>post</key>
		<string>0</string>
		<key>ratio</key>
		<string>848.56</string>
		<key>thanks</key>
		<string>769</string>
		<key>tratio</key>
		<string>0.1007</string>
	</dict>
	<key>error</key>
	<string></string>
	<key>name</key>
	<string>横竖是一</string>
	<key>signature</key>
	<string>欢迎关注深沉内敛少女の公众号:横竖是一</string>
	<key>star</key>
	<dict>
		<key>agreerank</key>
		<string>8597</string>
		<key>answerrank</key>
		<string>103029</string>
		<key>count1000rank</key>
		<string>7909</string>
		<key>count100rank</key>
		<string>46908</string>
		<key>favrank</key>
		<string>20372</string>
		<key>followerrank</key>
		<string>26388</string>
		<key>ratiorank</key>
		<string>2697</string>
	</dict>
	<key>topanswers</key>
	<array>
		<dict>
			<key>agree</key>
			<string>7520</string>
			<key>date</key>
			<string>2016-08-18 19:41:55</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/37018823/answer/117589556</string>
			<key>title</key>
			<string>装逼成功是怎样一种体验？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>48</string>
			<key>date</key>
			<string>2016-08-27 12:32:41</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/49747529/answer/119168050</string>
			<key>title</key>
			<string>手工DIY最好能做到什么样子，大神能爆个照吗？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>36</string>
			<key>date</key>
			<string>2016-09-24 07:41:34</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/28492192/answer/123403956</string>
			<key>title</key>
			<string>新媒体营销学习网站推荐？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>8</string>
			<key>date</key>
			<string>2016-08-27 12:55:45</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/47718490/answer/119171212</string>
			<key>title</key>
			<string>什么样的人才是真正的吃货？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>6</string>
			<key>date</key>
			<string>2016-08-17 19:59:09</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/48337357/answer/117392780</string>
			<key>title</key>
			<string>你亲身经历过哪些听起来像段子一样的故事？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>5</string>
			<key>date</key>
			<string>2016-08-27 20:27:33</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/22777957/answer/119231354</string>
			<key>title</key>
			<string>有哪些意料之外情理之中的好故事？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>5</string>
			<key>date</key>
			<string>2016-08-27 11:57:00</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/23645241/answer/119163481</string>
			<key>title</key>
			<string>你们朋友圈里那些土豪都是如何炫富的？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>5</string>
			<key>date</key>
			<string>2016-08-27 12:47:35</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/28802859/answer/119170021</string>
			<key>title</key>
			<string>长期失眠是一种怎样的体验？</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>4</string>
			<key>date</key>
			<string>2016-08-23 22:01:13</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/29022460/answer/118521721</string>
			<key>title</key>
			<string>为什么驾校教练喜欢骂学员？</string>
		</dict>
	</array>
	<key>trend</key>
	<array>
		<dict>
			<key>agree</key>
			<string>1283</string>
			<key>answer</key>
			<string>15</string>
			<key>date</key>
			<string>2016-08-30</string>
			<key>follower</key>
			<string>38</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>5089</string>
			<key>answer</key>
			<string>13</string>
			<key>date</key>
			<string>2016-08-31</string>
			<key>follower</key>
			<string>243</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>6339</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-01</string>
			<key>follower</key>
			<string>310</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>6824</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-02</string>
			<key>follower</key>
			<string>354</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>6897</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-03</string>
			<key>follower</key>
			<string>361</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>6990</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-04</string>
			<key>follower</key>
			<string>369</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7102</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-05</string>
			<key>follower</key>
			<string>373</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7184</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-06</string>
			<key>follower</key>
			<string>380</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7229</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-07</string>
			<key>follower</key>
			<string>382</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7281</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-08</string>
			<key>follower</key>
			<string>384</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7313</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-09</string>
			<key>follower</key>
			<string>388</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7330</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-10</string>
			<key>follower</key>
			<string>391</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7345</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-11</string>
			<key>follower</key>
			<string>394</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7358</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-12</string>
			<key>follower</key>
			<string>394</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7375</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-13</string>
			<key>follower</key>
			<string>395</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7406</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-14</string>
			<key>follower</key>
			<string>399</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7433</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-15</string>
			<key>follower</key>
			<string>401</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7457</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-16</string>
			<key>follower</key>
			<string>402</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7504</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-17</string>
			<key>follower</key>
			<string>403</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7507</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-18</string>
			<key>follower</key>
			<string>403</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7520</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-19</string>
			<key>follower</key>
			<string>403</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7528</string>
			<key>answer</key>
			<string>12</string>
			<key>date</key>
			<string>2016-09-20</string>
			<key>follower</key>
			<string>404</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7570</string>
			<key>answer</key>
			<string>10</string>
			<key>date</key>
			<string>2016-09-21</string>
			<key>follower</key>
			<string>408</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7599</string>
			<key>answer</key>
			<string>10</string>
			<key>date</key>
			<string>2016-09-22</string>
			<key>follower</key>
			<string>413</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7609</string>
			<key>answer</key>
			<string>10</string>
			<key>date</key>
			<string>2016-09-23</string>
			<key>follower</key>
			<string>412</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7616</string>
			<key>answer</key>
			<string>10</string>
			<key>date</key>
			<string>2016-09-24</string>
			<key>follower</key>
			<string>414</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7634</string>
			<key>answer</key>
			<string>10</string>
			<key>date</key>
			<string>2016-09-25</string>
			<key>follower</key>
			<string>421</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7617</string>
			<key>answer</key>
			<string>9</string>
			<key>date</key>
			<string>2016-09-26</string>
			<key>follower</key>
			<string>433</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7628</string>
			<key>answer</key>
			<string>9</string>
			<key>date</key>
			<string>2016-09-27</string>
			<key>follower</key>
			<string>441</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>7637</string>
			<key>answer</key>
			<string>9</string>
			<key>date</key>
			<string>2016-09-28</string>
			<key>follower</key>
			<string>445</string>
		</dict>
	</array>
</dict>
</plist>
