<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar</key>
	<string>https://pic4.zhimg.com/9f7111d004add2bda14b2daf794a6e93_l.jpg</string>
	<key>description</key>
	<string>窝开心就好 毕竟有最棒男盆友ฅʕ•̫͡•ʔฅ</string>
	<key>detail</key>
	<dict>
		<key>agree</key>
		<string>1070</string>
		<key>agreei</key>
		<string>0</string>
		<key>agreeiratio</key>
		<string>0.00%</string>
		<key>agreeiratiow</key>
		<string>0</string>
		<key>agreeiw</key>
		<string>0</string>
		<key>answer</key>
		<string>1</string>
		<key>ask</key>
		<string>0</string>
		<key>count100</key>
		<string>1</string>
		<key>count1000</key>
		<string>1</string>
		<key>count10000</key>
		<string>0</string>
		<key>count200</key>
		<string>1</string>
		<key>count2000</key>
		<string>0</string>
		<key>count500</key>
		<string>1</string>
		<key>count5000</key>
		<string>0</string>
		<key>fav</key>
		<string>303</string>
		<key>followee</key>
		<string>78</string>
		<key>follower</key>
		<string>599</string>
		<key>followeri</key>
		<string>0</string>
		<key>followeriw</key>
		<string>0</string>
		<key>followiratio</key>
		<string>0.00%</string>
		<key>followiratiow</key>
		<string>0</string>
		<key>fratio</key>
		<string>0.2832</string>
		<key>logs</key>
		<string>0</string>
		<key>mostvote</key>
		<string>1070</string>
		<key>mostvote10</key>
		<string>1070</string>
		<key>mostvote10percent</key>
		<string>100.00%</string>
		<key>mostvote5</key>
		<string>1070</string>
		<key>mostvote5percent</key>
		<string>100.00%</string>
		<key>mostvotepercent</key>
		<string>100.00%</string>
		<key>post</key>
		<string>0</string>
		<key>ratio</key>
		<string>1070.00</string>
		<key>thanks</key>
		<string>217</string>
		<key>tratio</key>
		<string>0.2028</string>
	</dict>
	<key>error</key>
	<string></string>
	<key>name</key>
	<string>小千</string>
	<key>signature</key>
	<string></string>
	<key>star</key>
	<dict>
		<key>agreerank</key>
		<string>43973</string>
		<key>answerrank</key>
		<string>121369</string>
		<key>count1000rank</key>
		<string>7931</string>
		<key>count100rank</key>
		<string>47062</string>
		<key>favrank</key>
		<string>50640</string>
		<key>followerrank</key>
		<string>21291</string>
		<key>ratiorank</key>
		<string>2045</string>
	</dict>
	<key>topanswers</key>
	<array>
		<dict>
			<key>agree</key>
			<string>1070</string>
			<key>date</key>
			<string>2016-09-24 15:12:45</string>
			<key>ispost</key>
			<string>0</string>
			<key>link</key>
			<string>/question/35931586/answer/123453733</string>
			<key>title</key>
			<string>你的日常搭配是什么样子？</string>
		</dict>
	</array>
	<key>trend</key>
	<array>
		<dict>
			<key>agree</key>
			<string>467</string>
			<key>answer</key>
			<string>1</string>
			<key>date</key>
			<string>2016-09-27</string>
			<key>follower</key>
			<string>266</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>920</string>
			<key>answer</key>
			<string>1</string>
			<key>date</key>
			<string>2016-09-28</string>
			<key>follower</key>
			<string>505</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>993</string>
			<key>answer</key>
			<string>1</string>
			<key>date</key>
			<string>2016-09-29</string>
			<key>follower</key>
			<string>554</string>
		</dict>
		<dict>
			<key>agree</key>
			<string>1070</string>
			<key>answer</key>
			<string>1</string>
			<key>date</key>
			<string>2016-09-30</string>
			<key>follower</key>
			<string>599</string>
		</dict>
	</array>
</dict>
</plist>
